.container-conta{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 5rem;
  gap: 2rem;
}

.perfil {
  display: flex;
  gap: 2rem;
}
  
.admin-fotoperfil {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde-medio);
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.admin-infos{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--verde-medio);
  font-size: 24px;
}

.nome-usuario{
  color: var(--verde-escuro);
  font-size: 28px;
}

.conteudo-conta{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sessao-conta{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo-sessao-conta{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.titulo-sessao-conta h2{
  margin-left: 1rem;
  font-size: 34px;
  color: var(--verde-escuro);
  font-weight: 400;
}
  
.itens-sessao-conta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(42, 50, 43, 0.3);
}

.item-descricao{
  display: flex;
  justify-content: space-between;
  color: var(--verde-escuro);
}

.item-descricao p{
  font-size: 22px;
}

.sessao-reservas-a-pagar{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--verde-medio);
}

.reservas-a-pagar{
  display: flex;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
}

.reserva-a-pagar{
  display: flex;
  flex-direction: column;
  background-color: var(--verde-medio);
  width: auto;
  height: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 2px rgba(124, 154, 120, 0.5);
  color: var(--branco);
  padding: 1rem;
}

.aviso-cancelamento {
  margin-top: 8px;
  font-size: 20px;
  color: var(--verde-escuro);
  font-weight: 400;
}

.escrita-item-sessao{
  display: flex;
  gap: 0.5rem;
}

.escrita-item-sessao a{
  color: var(--verde-escuro);
  font-size: 22px;
}
