.container-fr{
    display: flex;
    width: 100%;
    padding: 2rem 5rem;
}

.option-editar-carrossel{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 5rem;
}

.container-bloco-reserva{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-infos-fr{
    background-color: var(--verde-medio);
    width: 400px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 2rem;
    box-shadow: 10px 10px 0 var(--verde-escuro);
    color: var(--branco);
    font-family: 'Glacial Indifference';
}

.infos-card-fr{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 0 var(--verde), -5px -5px 0 var(--verde-escuro);
    font-size: 20px;
}

.footer-card-fr{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.elementos-fr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--verde-medio);
    align-items: center;
    width: 100%;
}

.item-fr{
    display: flex;
    font-size: 27px;
    gap: 3rem;
    width: 80%;
}


.item-fr p {
    display: flex;
    align-self: center;
}

.infos-fr{
    display: flex;
    flex-direction: column;
    color: var(--verde-medio);
    width: 50%;
    gap: 1rem;
}

.lista-infos-fr{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lista-infos-fr li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 24px;
}

.lista-infos-fr li img{
    width: 35px;
}

/*Para tablets e dispositivos menores */

@media screen and (max-width: 768px){

    .container-fr{

    flex-direction: column;
    padding: 1rem 2rem;
    gap: 2rem;

    }
    
   .container-bloco-reserva{

    width: 100%; 

}

.card-infos-fr{

width: 100%;
max-width: 100%;
box-sizing: border-box; /* isso aqui é muito foda, não sei oq faz mas na duvida usa isso*/

}

.elementos-fr{

width: 100%;

}

.item-fr{ /*Icone do texto*/ 

flex-direction: column;
text-align: center;
gap: 1rem;
width: 100%;

}

.infos-fr{

width: 100%; 

}

.option-editar-carrossel{

padding: 1rem 2rem;

}

.item-fr p{

font-size: 18px;

}

.lista-infos-fr{

font-size: 18px; 

}

}

/*Para telas bem pequenas*/

@media screen and (max-width:480px) {
    
.container-fr{

padding: 1rem;

}

.option-editar-carrossel{

padding: 1rem;

}

.card-infos-fr{

padding: 1rem;

}

.item-fr img{

width: 100px; 

}

.infos-cards-fr{

font-size: 16px; 

}

.footer-card-fr{

font-size: 16px;

}

}