.cabecalho-pginicial{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--verde-medio);
}

.background img{
    width: 100%;
    opacity: 25%;
}

.hero {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--branco);
    z-index: 1;
}

.hero h1{
    width: 300px;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 500;
    color: var(--branco);
}

.hero h1 p {
    font-family: 'Glacial Indifference';
    text-transform: uppercase;
}

.element {
    position: relative;
    width: 100%;
    margin-top: -180px; /* puxa a onda para cima para cobrir a divisão */
    z-index: 1;
}

.wave {
    position: relative; /* Corrige: "top" não funciona com position: top */
    top: 0;              /* Define a posição inicial */
    width: 101%;
    height: 100%;
    right: 10px;
    z-index: -1;
    display: block;
}

.chale-transparente1 {
   position: absolute;
  left: 0;                 /* alinha com a esquerda */
  bottom: -20px;           /* desce para passar metade da onda */
  width: 300px;            /* ajuste o tamanho se necessário */
  z-index: 1;         /* acima da wave, abaixo do texto */
}

.texto-de-entrada {
    position: absolute;
    top: 30%;                   /* centralizado verticalmente */
    right: 10%;                 /* distância da esquerda (ajuste como quiser) */
    transform: translateY(-50%);/* só sobe verticalmente agora */
    font-family: 'Glacial Indifference';
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    text-align: left;          /* alinhamento do texto */
}

.textinho1 {
    position: absolute;                 /* ajustado para logo abaixo do título */
    right: 10%;
    margin-top: -25%;
    font-family: 'Glacial Indifference';
    font-size: 1.3rem;
    color: #3F5141;
    text-align: center;
    width: 30%;               /* controla a largura para não ocupar demais */
}

.chale-right {
  position: absolute;
  right: 0;       
  width: 30%;
  margin-top: 10%;
}

.mapinha {
    max-height: 90%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
}

.textinho2 {
    position: absolute;
    font-weight: 400;
    right: 17%; /* Ajustado para posicionar melhor na tela */
    margin-top: -3%; /* Posiciona verticalmente no lugar desejado */
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: left; /* Alinhamento à esquerda como na imagem */
    width: 20%; /* Largura um pouco maior para o texto */
    background-color: var(--verde-medio); /* Verde médio com transparência */
    border-radius: 10px;
    letter-spacing: 0.1rem;
    font-weight: 400; /* Corrigido - 'font-style: bold' está errado */
    padding: 1rem 1.5rem; /* Padding simplificado e ajustado */
    line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
    box-shadow: -7px 7px 0 #7C9A78;
}

.plaquinha {
 margin-left: 10%;       
  width: 20%;
  margin-top: 10%;
}

.chale-left {
  position: absolute;
  left: 0;       
  width: 30%;
  margin-top: 20%;
}

.textinho3 {
    position: absolute;
    font-weight: 400;
    left: 6%; /* Ajustado para posicionar melhor na tela */
    margin-top: 13%; /* Posiciona verticalmente no lugar desejado */
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: right; /* Alinhamento à esquerda como na imagem */
    width: 20%; /* Largura um pouco maior para o texto */
    background-color: var(--verde-medio); /* Verde médio com transparência */
    border-radius: 10px;
    letter-spacing: 0.1rem;
    font-weight: 400; /* Corrigido - 'font-style: bold' está errado */
    padding: 1rem 1.5rem; /* Padding simplificado e ajustado */
    line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
    box-shadow: 7px 7px 0 #7C9A78;
}

.fogueirinha {
  margin-left: 65%;      
  width: 14%;
  margin-top: 20%;
}

.chale-espuma {
  position: absolute;
  right: 0;       
  width: 40%;
  margin-top: 7%;
  z-index: -1;
}

.textinho4 {
    position: absolute;
    font-weight: 400;
    right: 19%; /* Ajustado para posicionar melhor na tela */
    margin-top: 13%; /* Posiciona verticalmente no lugar desejado */
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: left; /* Alinhamento à esquerda como na imagem */
    width: 20%; /* Largura um pouco maior para o texto */
    background-color: var(--verde-medio); /* Verde médio com transparência */
    border-radius: 10px;
    letter-spacing: 0.1rem;
    font-weight: 400; /* Corrigido - 'font-style: bold' está errado */
    padding: 1rem 1.5rem; /* Padding simplificado e ajustado */
    line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
    box-shadow: -7px 7px 0 #7C9A78;
    z-index: -2;
}

.patinhas {
  margin-left: 15%;      
  width: 23%;
  margin-top: 20%;
}

