.cabecalho-pginicial{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--verde-medio);
}

.background img{
    width: 100%;
    opacity: 25%;
}

.hero {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--branco);
    z-index: 1;
}

.hero h1{
    width: 300px;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 500;
    color: var(--branco);
}

.hero h1 p{
    font-family: 'Glacial Indifference';
    text-transform: uppercase;
}

.element{
    position: relative;
    width: 100%;
}

.wave{
    position: relative;
    top: -40%;
    width: 100%;
    z-index: -1;
}
