.servicos{
    display: flex;
    flex-direction: column;
}

.sessao{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.titulo-sessao{
    display: flex;
    gap: 1rem;
}

.titulo-sessao .icon{
    width: 30px;
    cursor: pointer;
}

.sessao-cards{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: stretch;
    flex-wrap: nowrap;
}

.card-servico{
    background-color: var(--verde-medio);
    width: 300px;
    height: 400px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 10px 10px 0 var(--verde-escuro);
    color: var(--branco);
}

.card-servico-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-medio);
    border-radius: 10px;
    box-shadow: 10px 10px 0 var(--verde-escuro);
    min-width: 300px;
    min-height: 400px;
    cursor: pointer;
    flex-shrink: 0;
}

.img-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nome-servico{
    font-size: 20px;
    font-weight: 700;
}

.imagem-servico{
    border-radius: 10px;
    box-shadow: 5px 5px 1px var(--verde-escuro), -5px -5px 1px var(--verde);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.imagem-servico .icon{
    width: 50px;
    cursor: pointer;
    display: flex;
    align-self: center;
    position: absolute;
}

.imagem-servico input{
    background: transparent;
    box-shadow: none;
    border: none;
    opacity: 0;
    cursor: pointer;
}

.descricao-servico{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 1px var(--verde), -5px -5px 1px var(--verde-escuro);
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
}

.opcao-excluir-sessao{
    display: flex;
    align-self: flex-end;
    gap: 0.5rem;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.galeria-container{
    position: relative;
}

.element-gal-fotos{
    width: 100%;
}

.galeria-de-fotos {
    padding: 0 5rem;
    background-color: var(--verde-medio);
    width: 100%;
    height: 100%;
    margin-top: -7px;
    margin-bottom: -2px;
}

.galeria-content{
    display: flex;
    flex-direction: column;
}


.card-foto-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-azulado);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    flex-shrink: 0;
}

.card-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-azulado);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.card-foto .icon{
    width: 20px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.card-servico-header{
    display: flex;
    justify-content: space-between;
}

.ferramentas {
    display: flex;
    gap: 1rem;
}

.ferramentas img {
    width: 20px;
    cursor: pointer;
}

.titulo-modal-sessao{
    display: inline;
}

@media (max-width: 1024px) {
    
    .sessao-cards {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: visible;
    }
    
    .galeria-de-fotos {
        padding: 0 2rem;
    }
    
    .galeria-content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    
}