.container-reservas{
    display: flex;
    transition: max-height 0.3s ease;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 5rem;
}

.limita-tamanho{
    max-height: 70vh;
    overflow-y: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}

.limita-tamanho::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, transparent, rgba(63,81,65,0.5));
    pointer-events: none;
    transition: opacity 0.3s;
}

.filtro{
    display: flex;
    justify-content: end;
    gap: 0.3rem;
}

#data_filtro{
    background: none;
    width: 100px;
    color: var(--verde-medio);
    font-size: 18px;
    box-shadow: none;
    border-bottom: 2px solid var(--verde-medio);
    border-radius: 0;
    padding: 0;
}

#lista_reservas{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-reserva{
    display: flex;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--verde-medio);
    box-shadow: 10px 10px 1px var(--verde);
    border-radius: 10px;
    color: var(--branco);
}

.infos-reserva{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.excluir-reserva{
    display: flex;
}

.nome-cliente{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.foto-cliente{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--verde);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info h3{
    font-size: 18px;
    font-weight: normal;
}

.info p{
    font-size: 16px;
    font-weight: normal;
}

#mostrar_lista{
    padding: 0.5rem;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--verde-medio);
    text-decoration: underline;
    cursor: pointer;
}

.container-calendario{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
}

.sessao-calendario{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.atualizar-calendario{
    display: flex;
    justify-content: flex-end;
}

.acoes-calendario{
    display: flex;
    justify-content: space-between;
}

.container-elementos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element-planta-left{
    position: absolute;
    left: -3rem;
    top: 0;
    height: 100%;
}

.element-planta-right{
    position: absolute;
    right: -3rem;
    top: 0;
    height: 100%;
}

.foto-usuario{
    width: 100%;
    height: 100%;
}

/*Dia bloqueado
.calendar .day li .bloq{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--verde-escuro);
}
*/

.botoes-cancelar_reserva {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.botoes-excluir-sessao {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

/* Media Queries para Responsividade */

@media screen and (max-width: 1200px) {
    .container-reservas{
        padding: 1.5rem 2rem; 
    }

    .element-planta-left, .element-planta-right{
        display: none; 
    }

    .acoes-calendario {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}