nav{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0.5rem 8rem;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    
}

nav ul li a {
    position: relative;
    color: white;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 300;
}

nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(0); 
    transition: transform 0.2s ease-in-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

.logo {
    width: 9rem;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--branco);
    border-radius: 50%;
    padding: 10px;
}

.entrar{
    font-size: 22px;
    padding: 8px 15px;
    border: 2px solid var(--branco);
    border-radius: 50px;
    color: var(--branco);
    transition: ease-in-out 0.2s;
}

.entrar:hover{
    font-size: 22px;
    padding: 8px 15px;
    border-radius: 50px;
    background-color: var(--branco);
    color: var(--verde-medio);
}


#menu-toggle{
    display: none;
}

.hamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    padding: 0;
    z-index: 10; 

}

.hamburguer span{
display: block;
height: 3px; 
width: 100%;
background: white;
border-radius: 3px;
transition: 0.3s;  
}

@media screen and (max-width: 425px){

.hamburguer{
    display: flex;
    position: relative;
    z-index: 100;
}

.nav ul{
    position: fixed;
    top: 0;
    left: -100%;
    right: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
}

#menu-toggle:checked ~ ul{
left: 0;
}

#menu-toggle:checked + .hamburguer span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}
#menu-toggle:checked + .hamburguer span:nth-child(2) {
    opacity: 0;
}
#menu-toggle:checked + .hamburguer span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

}

@media (max-width: 999px){
    nav ul{
        display: none;
    }
    .hamburguer{
        display: flex;
    }
}

