@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

nav {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0.5rem 8rem;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.menu-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
}

nav ul li a {
    position: relative;
    color: white;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 300;
}

nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

.logo {
    width: 7rem;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--branco);
    border-radius: 50%;
    padding: 10px;
}

.entrar {
    font-size: 22px;
    padding: 8px 15px;
    border: 2px solid var(--branco);
    border-radius: 50px;
    color: var(--branco);
    transition: ease-in-out 0.2s;
}

.entrar:hover {
    font-size: 22px;
    padding: 8px 15px;
    border-radius: 50px;
    background-color: var(--branco);
    color: var(--verde-medio);
}


#menu-toggle {
    display: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    padding: 0;
    z-index: 10;

}

.hamburguer span {
    display: block;
    height: 3px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    transition: 0.3s;
}

.barra{
    width: 100%;
    border: 1px solid black;
    display: none;

}

@media (max-width: 999px) {

    nav {
        justify-content: center;
    }

    .hamburguer {
        position: absolute;
        right: 20px;
        display: flex;
        justify-content: space-between;

    }

    .entrar {
        display: none;
    }

    .menu-nav {
        display: none;
        position: fixed;
        top: 78px; 
        right: 0;
        left: auto;
        width: 300px;
        height: auto; 
        flex-direction: column;
        background-color: rgba(124, 154, 120, 1);
        transform: translateX(0%); 
        align-items: center;
        border-radius: 3px;
        border: 2px solid black;
        justify-content: space-around;
        align-items: center;
        gap: 0;   
        z-index: 2000; 
      }

    .menu-nav a{
        display: flex;
        width: 100%;  
        box-sizing: border-box;
        font-size: 28px;
        font-family: "Glacial Indifference"; 
        height: 100%; 
        align-items: center;
        justify-content: center;
    }

    .menu-nav li{
        height: 120px; 
        display: flex; 
        align-items: center;
        width: 100%;
    }

    .barra{
        display: flex;
    }

    }
