@font-face {
  font-family: 'Glacial Indifference';
  src: url('/public/fontes/GlacialIndifference-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: 'Glacial Indifference';
  src: url('/public/fontes/GlacialIndifference-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Glacial Indifference';
}

body{
  background-color: var(--verde-claro);
}

:root {
  --branco: #EEF4EE;
  --verde-claro: #B4C89F;
  --verde-acinzentado: #AABEA5;
  --verde-azulado: #728474;
  --verde: #7C9A78;
  --verde-medio: #3F5141;
  --verde-escuro: #2A322B;
  }

button{
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--branco);
}

input {
  position: inherit;
  padding: 0.6rem;
  color: var(--branco);
  width: 100%;
  font-size: 18px;
  background-color: var(--verde-medio);
  border-radius: 15px;
  border: none;
  box-shadow: -5px -3px var(--verde-escuro),
  5px 3px var(--verde-azulado);
}

input:focus {
  outline: none;
}

<<<<<<< HEAD
.icon{
  width: 30px;
}

=======
>>>>>>> 2a071886bee0f14f25301e13b5c2bd9b65d528fc
.sombra-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

<<<<<<< HEAD
.bloco-modal-usuario {
  position: fixed;
  background-color: var(--verde-medio);
  color: var(--branco);
=======
.bloco-modal {
  position: fixed;
  background-color: var(--verde-medio);
>>>>>>> 2a071886bee0f14f25301e13b5c2bd9b65d528fc
  width: 500px;
  max-width: 90%;
  max-height: 70%;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;  
}

<<<<<<< HEAD
.bloco-modal-geral {
  position: fixed;
  background-color: var(--verde-medio);
  color: var(--branco);
  width: 500px;
  max-width: 90%;
  max-height: 70%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -10px -10px 0 var(--verde),
  10px 10px 0 var(--verde-escuro);
  overflow: hidden;
  display: flex;
  flex-direction: column;  
}

=======
>>>>>>> 2a071886bee0f14f25301e13b5c2bd9b65d528fc
.contorno-modal {
  display: flex; 
  flex-direction: column; 
  flex: 1;
  min-height: 0; 
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid var(--verde-azulado);
  padding: 1rem;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-content {
  flex: 1; 
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-body{
  display: flex;
  flex-direction: column;
  color: var(--branco);
  padding: 1rem 0;
  gap: 0.5rem;
}

.modal-body h2, .link {
  font-weight: bold;
  display: inline;
  font-size: 20px;
}

.link{
  text-decoration: underline;
  text-decoration-color: var(--verde-escuro);
  cursor: pointer;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper label {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 0.5rem; 
  left: 1rem;
  z-index: 1;
}

.last-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-footer {
  display: flex;
  width: 100%;
  justify-content: end;
}

.textinho{
  text-decoration: underline;
  text-decoration-color: var(--branco);
} 

.btn {
  font-family: 'Glacial Indifference';
  font-size: 24px;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--verde-medio);
  color: var(--branco);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: -2px -2px var(--verde-azulado),
  3px 3px var(--verde-escuro);
  transition: background-color 0.2s;
}

.modal-body button:hover {
  background-color: var(--verde-escuro-hover);
}

